@charset "utf-8";
.headerTop {
    position:absolute;
    top: 20px;
    right:0;
    list-style: none;
    margin-right:50px;
}
.headerTop li {
    display:inline;
    padding:0 3px;
    font-size: 15px;
}
.headerTop li a{
    text-decoration: none;
    color: gray;
}
h1 {
    text-align: center;
    padding-top: 30px;
}
h1 p {
    font-size: 15px;
    font-family:'고딕';
    margin-top: 2px;
    color:rgb(105, 63, 0);
}
h1 a {
    padding-left: 58px;
}
#menu {
    height: 40px;
    background-color:rgb(105, 63, 0);
    text-align: center;
    margin: 30px;
    padding-left:30px;
}
#menu ul {
    padding:5px;
}
#menu ul li {
    display: inline;
    padding: 60px;
}
.m {
    text-decoration: none;
    color:white;
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
@media(max-width:700px) {
    ul {
        display: none;
    }
}